@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --cor-padrao:#9F764B;
    --cor-padrao2:#F9F6E3;
    --cor-fonte:black;
    --cor-fonte-principal:#9F764B;
    --cor-fonte2:#F9F6E3;
    --cor-fonte-hover: #7c5429;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-padrao);
    margin: 5%;
    padding: 0;
}
.container {
    margin-top: 45px;
    width: 50%;
    margin: auto;
    background-color: var(--cor-padrao2);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    text-align: center;
}
h2 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
    color: #555;
}
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn{
    background-color: var(--cor-padrao);
    border: none;
    width: 50%;
    height: 50px;
    font-size: 24px;
    color: var(--cor-fonte2);
    transition: background-color 0.25s;
    border-radius: 25px;
    margin-top: 5%;
    
}
.btn:hover{
    background-color: var(--cor-fonte-hover);
}
button:hover {
    background-color: #218838;
}