@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
:root{
    --cor-padrao:#9F764B;
    --cor-padrao2:#F9F6E3;
    --cor-fonte:black;
    --cor-fonte-principal:#9F764B;
    --cor-fonte2:#F9F6E3;
    --cor-fonte-hover: #7c5429;
}

body{
    font-family: 'Arial', sans-serif;

}
.banner{
    background-color: var(--cor-padrao2);
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;/*serve pra tirar as bolinhas*/
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--cor-fonte-principal);
    font-size: 20px;
    font-weight: 600;
    transition: color 0.25s;
}
nav ul li a:hover{
    color: var(--cor-fonte-hover);
}
.banner p{
    color: var(--cor-fonte-principal);
}

.corpo-produtos{
    max-width: 1800px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.corpo-produtos h2{
    text-align: center;
}
.col-1{
    display: inline-block;
    background-color: var(--cor-padrao2);
    color: var(--cor-fonte-principal);
    flex-basis: 25%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-1:hover{
    transform: scale(1.1);
}

.col-1 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
